.track {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1em;
	height: 3.5rem;
}

.track span {
	width: 15%;
}

.track p {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 25%;
}

.track span:nth-child(1) {
	text-align: left;
	font-size: 1.5em;
	display: flex;
	align-items: center;
}

.play-icon {
	cursor: pointer;
	padding: 2px 0;
}

.track span:nth-child(1):hover {
	color: #9de5eb;
}

.track span:nth-last-child(1) {
	text-align: right;
}

.track-loader {
	width: 15px;
	margin-left: 3px;
}

/* .track-title {
    width: 60%;
} */
