.admin-panel {
	display: flex;
	align-items: flex-start;
	flex-grow: 1;
	padding: 50px 5%;
}

.admin-panel .users {
	width: 100%;
}

.admin-panel .data {
	padding-top: 10px;
	width: 100%;
}

.admin-panel .data-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	padding: 15px 10px;
	background-color: rgb(255, 255, 255, 0.1);
	border-bottom: 1px rgb(255, 255, 255, 0.95) solid;
}

.admin-panel .data-row:hover {
	background-color: rgb(255, 255, 255, 0.2);
}

.admin-panel .data-row-header:hover {
	background-color: rgb(0, 0, 0, 0.1);
}

.admin-panel .data-row-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	padding: 15px 10px;
	background-color: rgb(0, 0, 0, 0.1);
	border-bottom: 1px rgb(255, 255, 255, 1) solid;
}

.admin-panel .search-bar {
	width: 100%;
	padding: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: rgb(255, 255, 255, 0.2);
	border-radius: 10px;
	margin: 20px 0;
}

.admin-panel .search-bar:hover,
.admin-panel .search-bar:active {
	background-color: rgb(255, 255, 255, 0.3);
}

.admin-panel .search-bar .search-field {
	flex-grow: 1;
	color: white;
}

.admin-panel .search-bar .search-icon {
	font-size: 1.2rem;
	padding: 0 15px;
}

.admin-panel .MuiDataGrid-root .MuiDataGrid-columnSeparator {
	display: none;
}

.admin-panel .MuiDataGrid-root .MuiDataGrid-columnHeaderSortable {
	padding-left: 5px;
}

.admin-panel .MuiDataGrid-root .MuiDataGrid-row {
	background-color: rgb(255, 255, 255, 0.2);
}

.admin-panel .MuiDataGrid-root .MuiDataGrid-row:hover {
	background-color: rgb(255, 255, 255, 0.3);
}

.admin-panel .MuiDataGrid-root .MuiDataGrid-columnHeaderWrapper,
.admin-panel .MuiDataGrid-root .MuiDataGrid-footer {
	background-color: rgb(255, 255, 255, 0.4);
}
