.playlists {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.user-profile {
	flex-grow: 1;
	padding: 50px 0;
}

.user-profile .my-profile-avatar {
	width: 150px;
	height: 150px;
}

@media (max-width: 767px) {
	.avatar-mobile {
		display: none;
	}
}

@media (min-width: 768px) {
	.avatar-desktop {
		display: none;
	}
}
