@media (max-width: 767px) {
	.mobile-nav {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 1000;
		background: radial-gradient(#5fc9d0, #3889a3) fixed center;
	}

	.mobile-nav-dark {
		background: radial-gradient(#232426, #18191a) fixed center;
	}

	.mobile-link {
		font-size: 1.8rem;
		padding: 0.8rem 0;
	}

	.nav-link-dark:hover {
		color: #7e57c2;
	}

	.nav-link-light:hover {
		color: #c4e7e9;
	}

	.active-link-light {
		color: #c4e7e9;
	}

	.active-link-dark {
		color: #7e57c2;
	}
}

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}
}
