.session-expired {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 50px 30px;
}

.session-expired .alert-header h1 {
	margin: 0;
}

.session-expired .alert-actions {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: space;
}

.session-expired .alert-header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 100%;
}

.session-expired .alert-header hr {
	width: 100%;
	height: 1px;
	border-width: 0px;
	color: black;
	background-color: black;
}
