.edit-user-wrapper .MuiPaper-root {
	background-color: rgb(0, 0, 0, 0.2) !important;
}

.edit-user {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 50px 30px;
}

.edit-user .update-header {
	margin: 0;
	font-size: 2rem;
	font-weight: 600;
}

.edit-user .edit-user-item {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	font-size: 1.1rem;
	padding: 10px 0;
}

.edit-user .actions {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.edit-user .MuiSelect-select.MuiSelect-select {
	padding-left: 10px;
	padding-right: 30px;
}

.edit-user .update-message {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.edit-user .update-message .error-msg,
.edit-user .update-message .success-msg {
	font-size: 1rem;
	font-weight: 500;
}

.edit-user p {
	margin: 0;
}

.edit-user .edit-user-item .item-label {
	padding-bottom: 15px;
}

.edit-user .actions .MuiButton-label {
	font-size: 0.9em;
}

.edit-user .actions .MuiButton-contained {
	margin: 5px !important;
}

@media (max-width: 767px) {
	.edit-user .actions {
		justify-content: flex-start;
		align-items: center;
		line-height: 1.5em;
	}
}
