.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo .logo-slogan {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo .logo-slogan h1 {
	margin: 0;
	font-size: 2.8em;
}

.logo .logo-slogan p {
	margin: 0;
	font-size: 0.8em;
}
