.playlist-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
}

.playlist-container {
	width: 90%;
	height: auto;
	max-width: 1080px;
}

.playlist-header {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	height: 290px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 25px;
	color: white;
}

.playlist-header::before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #0000006b;
	z-index: 1;
}

.playlist-header h1,
.playlist-header h2,
.playlist-header h3,
.playlist-header h4,
.playlist-header h5,
.playlist-header h6,
.playlist-header span {
	z-index: 2;
}

.playlist-subtitle {
	margin-top: 5px;
	font-size: 1em;
}

.playlist-name {
	margin: 5px 0;
	padding: 5px;
}

.username {
	color: #afe9ee;
	cursor: pointer;
}

.light-tracks,
.dark-tracks {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 10px 25px;
}

.dark-tracks {
	background-color: rgba(255, 255, 255, 0.1);
}

.light-tracks {
	background-color: rgb(255, 255, 255);
	color: #232426;
}

.playlist-name-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	z-index: 2;
}

.playlist-name-container .playlist-name,
.playlist-name-container .playlist-name-x {
	background: none;
	color: white;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.playlist-name-container .playlist-name {
	border: 1px solid #999999;
	outline: none;
}

.playlist-name-container .playlist-name-x {
	border: none;
}

.playlist-name-container .submit-name {
	cursor: pointer;
	margin-left: 10px;
	height: 16px;
}

.playlist-name-container .change-name-control {
	cursor: pointer;
	margin-left: 15px;
	display: flex;
	font-size: 1.2em;
}

.playlist-name-container .change-name-control:hover,
.playlist-name-container .submit-name:hover {
	scale: 1.2;
}

.add-remove-btn {
	font-size: 1.2em;
	cursor: pointer;
	margin-left: 10px;
}

.add-remove-btn:hover {
	scale: 1.1;
}

.playlist-form-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}

.playlist-name-actions {
	display: flex;
	align-items: center;
	margin: 10px 0;
	font-size: 1.5rem;
}

#playlist-name {
	flex-grow: 1;
}

.playlist-header-top {
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.playlist-name {
	pointer-events: none;
}

.playlist-name-self {
	pointer-events: all;
}
