.footer {
	width: 90%;
	padding: 0 5%;
	height: 80px;
	z-index: 1;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-media {
	display: flex;
	align-items: center;
}

.social-media .social-media-icon {
	font-size: 1.6rem;
	padding: 0 10px;
}

.social-media .social-media-icon:hover {
	font-size: 1.8rem;
	cursor: pointer;
}

.dark-icon:hover {
	color: #7e57c2;
}

.light-icon:hover {
	color: #c4e7e9;
}
