.change-password-root {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 5%;
	flex-grow: 1;
}

.change-password-root .change-password-wrapper {
	max-width: 400px;
	padding: 50px;
	border-radius: 15px;
	background-color: rgb(255, 255, 255, 0.1);
}
