.genres-header {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 200px;
	/* padding: 0 20px; */
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.genres-header::before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 200px;
	background-color: #00000070;
	z-index: 1;
}

.duration-string {
	font-size: 0.5em;
	z-index: 2;
	margin: 0;
	font-weight: 600;
}

.genres-header h1,
.genres-header h3,
.genres-header h5,
.genres-header sub {
	margin: 0;
	font-size: 1em;
	z-index: 2;
	text-align: left;
}

.same-artist-container label,
.same-artist-container input,
.genres-header p {
	z-index: 2;
	font-size: 0.6em;
}

.same-artist-container,
.genres-header p {
	margin: 10px 0;
}

.same-artist-container {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	/* justify-content: center; */
}

#same-artist {
	margin-left: 10px;
}

.genres-container,
.genres-container-dark {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	padding: 20px 0;
	min-height: 200px;
}

.genres-container {
	background-color: rgba(0, 0, 0, 0.2);
}

.genres-container-dark {
	background-color: rgba(255, 255, 255, 0.1);
}

.genres-wrapper {
	text-align: center;
	font-size: 2rem;
	margin: 1rem 0;
	width: 700px;
	max-width: 90%;
}

.genres-form-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 768px) {
	.genres-container,
	.genres-container-dark {
		padding: 20px;
	}
}

.error-msg {
	font-size: 0.7em;
}
