.loader-container, 
.loader-container-dark {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container-dark {
    background-color: rgba(0, 0, 0, 0.3);
}

.loader-container {
	background-color: rgba(255, 255, 255, 0.2);
}

.loader-dark {
    width: 90px;
    color: #673AB7;
}

.loader {
    width: 90px;
    color: #20e2f0;
}
