.explore-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
}

.explore-wrapper .explore-playlists-container {
	width: 90%;
	margin: 20px 0 50px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.explore-wrapper .explore-controls {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sort-select {
	margin-left: 5px;
}

@media (max-width: 511px) {
	.explore-wrapper .explore-playlists-container {
		width: 90%;
		margin: 20px 0 50px 0;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}
}
